@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* CSS Document */

/*CSS for navbar and related components */
* {
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	background-color: #D6CAA7;
	font-family: "Ubuntu";
	font-weight: 500;
}

nav{
	background-color: white;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav li {
	height: 60px;
	display: flex;
	align-items: center;
}

nav a {
	height: 100%;
	padding: 0 50px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
	transition: background-color 0.15s linear;
}

nav li:first-child{
	margin-right: auto;
	font-size: 1.5rem;
}

.activeLink {
	border-bottom: 2px solid hsl(36, 59%, 61%);
}


/* CSS Styling for the sign-in */

.mainbox {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 89vh;
	padding: 20px;
}

.signin {
	width: 300px;
	padding: 50px;
	margin: 20px;
	background-color: hsla(0, 0%, 100%, 0.7);
	display: block;
	text-align: center;
	border-radius: 10px;
	outline: 4px solid black;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.schoolselector {
	padding: 5px;
	line-height: 30px;
}

.schoolselector input {
	padding: 10px;
}

.schoolselector button {
	font-size: 1em;
	padding: 15px;
	width: 50%;
	border-radius: 25px;
	cursor: pointer;
}