@charset "utf-8";
/* CSS Document */
* {
	box-siz: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}

header {
	display: flex;
	justify-content: space-between;
	align-item: center;
	padding: 30px 10%;
	background-color: navy;
}

.logo {
	cursor: pointer;
}

.nav_links {
	list-style: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 10px;
}

.nav_links li a {
	transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
	color: black
}

button {
	padding: 9px 25px;
	background-color: #4B42C3;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transitoin: all 0.3s ease 0s;
}

button:hover {
	background-color: white;
}