@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* CSS Document */

/*CSS for navbar and related components */
* {
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	background-color: #D6CAA7;
	font-family: "Ubuntu";
	font-weight: 500;
	/*background-image: url('https://placehold.co/600x400');*/
}

nav{
	background-color: white;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	text-align: center;
}

nav li {
	height: 60px;
	display: flex;
	align-items: center;
}

nav a {
	height: 100%;
	padding: 0 50px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
	transition: background-color 0.15s linear;
}

nav a:not(.exclude):hover {
	background-color: #f0f0f0;
	transition: background-color 0.2s linear;
}

nav li:first-child{
	margin-right: auto;
	font-size: 1.5rem;
}



.CTA{
	color: hsl(0, 0%, 100%);
	background-color: hsl(45, 51%, 24%);
	border-radius: 20px;
}

.CTA:hover{
	color: hsl(0, 0%, 0%);
	background-color: hsl(45, 51%, 50%);
	transition: background-color 0.15s linear, color 0.3s linear;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.466);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	box-shadow: -10px 0 10px rgba(0,0,0,0,0.1);
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	transition: transform 0.3s ease;
	align-items: flex-start;
	justify-content: flex-start;
}

.sidebar li {
	width: 100%;
}

.sidebar a{
	width: 100%;
}
.activeLink {
	border-bottom: 2px solid hsl(36, 59%, 61%);
}


@media(max-width: 675px) {
	.HideMobile{
		display: none;
	}
}

@media(max-width: 400px) {
	.sidebar{
		width: 100%;
	}
}

@media(min-width: 675px) {
	.HideDesktop{
		display: none;
	}
}


/** CSS for title area**/
.titlepage {
	background-color: #D6C44B;
	padding: 5rem 0;
	border-bottom-left-radius: 30%;
	border-bottom-right-radius: 30%;
	justify-content: center;
	z-index: 2;
	position: relative;
}
.titlepage .item {
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.titlepage h1 {
	font-size: clamp(5rem, 8vw, 9rem);
	font-weight: 700;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.titlepage h2 {
	font-size: clamp(2rem, 2vw, 4rem);
	font-weight: 400;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.titlepage h3 {
	font-size: clamp(1rem, 1vw, 1.5em);
	font-weight: 300;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.titlepage img {
	padding-top: 50px;
}

.imagebackground {
	z-index: -1;
	
	height: 100vh;
	position: absolute;
	left: 0px;
	top: 0px
}